.page-container {
  height:100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}

.event-container {
  height: 80%;
  width: 80%;
  margin-top: 1%;
  background-color: blue;
}
