/*h1 {
	font-weight: bold;
	color: tomato;
}*/

body{
	background-color: rgb(250,250,250);
	font-family: 'Lato', sans-serif;
}

.navbar {
	border: none;
	box-shadow: 2px 0px 20px #2d1c31;
}
.heading {
	font-family: 'Bree Serif', serif;
	font-weight: bold;
}

.outer-div{
	height: 250px;
}

.home-container {
	display: flex;
	flex-direction: row;
	margin-top: 7%;
}

.event-card{
	background-color: #FFFFFF;
	border: .5px solid #B5B5B5;
	height: 225px;
	width: 225px;
	margin: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: auto;
	-webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.event-card:hover{
	  box-shadow: 2px 2px 10px #999999;
	z-index: 2;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.5);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.5);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.10);
	transition: all 200ms ease-in;
	transform: scale(1.10);


}

.title{
	font-size: 18px;
	padding-bottom: 3%;
	font-style: oblique;
	font-weight: bolder;
}

.card-image {
	height: 100px;
	width: 100px;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 60%;
}

.guestList {
	display: flex;
	flex-flow: column wrap;
	height: relative;
	margin-left: -40%;
}

#test {
	min-height: 200px;
	min-width: 200px;
}

.hang {
	color: tomato;
	border: solid 5px;
}

#homeAvatar {
	max-height: 75px;
	max-width: 50px;
}

.userInvited {
	color: tomato;
}

.user-table {
	width: 24%;
}
.settings {
	top: 5px;
}

.form {
	margin-top: 5%;
}

.container {
	width: 300px;
}
