/*h1 {
	font-weight: bold;
	color: tomato;
}*/

body{
	background-color: rgb(250,250,250);
}

.outer-div{
	height: 250px;
}

.home-container {
	display: flex;
	flex-direction: row;
}

.event-card{
	width: 250px !important;
	height: 250px !important;
	margin-bottom: auto;
}

.card-image {
	height: 100px;
	width: 100px;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 74%;
}

#test {
	min-height: 200px;
	min-width: 200px;
}

.hang {
	color: tomato;
	border: solid 5px;
}

#homeAvatar {
	max-height: 75px;
	max-width: 50px;
}

.userInvited {
	color: tomato;
}

.user-table {
	width: 24%;
}
.settings {
	top: 5px;
}

.form {
	margin-top: 5%;
}

.container {
	width: 300px;
}
