<div ng-cloak>
	<md-content class="md-padding">
		<md-toolbar layout-align="space-between" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" layout="row">
			<md-button ng-click="toHome()" name="goHome">
				Home
			</md-button>
			<md-button ng-class="{'hang': user.hang}" ng-click="toggleHang()" name="hangButton" id="hangButton">
				Hang
			</md-button>
			<div ng-include="'app/event/eventMenu.html'"></div>
		</md-toolbar>
	</md-content>
</div>

<div style="margin-top: 50px" class="home" ng-cloak layout="row" layout-align="start start">	
	<div flex>
	<md-content flex layout-align="center center" class="md-padding">		
		<md-toolbar layout="row" class="md-hue-4">
			<div class="md-toolbar-tools">
				<span style="text-align: center">Invites</span>
			</div>
		</md-toolbar>
			<md-list class="md-dense" flex>
				<md-list-item class="md-3-line" ng-repeat="item in events" ng-click="null">
					<img ng-src={{item.profile_url}} class="md-avatar">
					<div flex layout="column" layout-align="start start" class="md-list-item-text">
					<h3>{{item.description}}</h3>
					<p>When: {{item.when}}</p>
					<p>Where: {{item.where}}</p>
					</div>
			</md-list-item>
			</md-list>
		</md-content>
	</div>


	<md-content flex layout-align="start start" class="md-padding container">		
		<md-toolbar layout="row" class="md-hue-4">
			<div class="md-toolbar-tools">
				<span style="text-align: center">Your Hosted Events</span>
			</div>
		</md-toolbar>
			<md-list class="md-dense" flex>
				<md-list-item class="md-3-line" ng-repeat="item in hostedEvents" ng-click="null">
					<img ng-src={{user.profile_url}} class="md-avatar">
					<div flex layout="column" layout-align="start start" class="md-list-item-text">
					<h3>{{item.description}}</h3>
					<p>When: {{item.when}}</p>
					<p>Where: {{item.where}}</p>
					</div>
			</md-list-item>
			</md-list>
		</md-content>
	</div>
</div>