<div ng-controller="HomeController" ng-cloak>
  <md-content class="md-padding">
    <md-toolbar layout-align="space-between" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" layout="row">
      <md-button ng-click="goHome()" name="homeButton">
        <i class="glyphicon glyphicon-home"></i>
      </md-button>
      <md-button ng-click="createEventClick($event)" name="createEvent">
        Create Event
      </md-button>
      <md-button ng-class="{'hang': user.hang}" ng-click="toggleHang()" name="hangButton" id="hangButton">
        Hang
      </md-button>
      <div ng-include="'app/home/menu.html'"></div>
    </md-toolbar>
  </md-content>
</div>
<div class="page-container">
  <div class="event-container">
    <div class="map">
      <iframe
        width="100%"
        height="350"
        frameborder="0" style="border:0"
        ng-src="{{mapUrl}}" allowfullscreen>
      </iframe>
    </div>
    <div class="event-info">
      <div>
        <span class="event-name">{{ currentEvent.description }}</span>
        <span class="event-time pull-right">{{ currentEvent.when }}
      </div>
      <div>
        <span class="event-venue">{{ currentEvent.venue }}</span>
        <span class="event-address">{{ currentEvent.address }}</span>
      </div>
    </div>
    <hr class="hr-style">
      <div class="attendees-container">
        <div class="attendee" ng-repeat="user in attendees">
          <img class="user-photo img-circle" ng-click="openUser(user)" src= {{user.profile_url}}>
          <div class="user-name text-center">{{ user.name }}</div>
        </div>
    </div>
  </div>
</div>
<pre>{{attendees}}</pre>
