<div ng-cloak>
<!-- Navigation Bar -->
	<md-content class="md-padding">
		<md-toolbar layout-align="space-between" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" layout="row">
			<md-button ng-click="createEventClick($event)" name="createEvent">
				Create Event
			</md-button>
			<md-button ng-class="{'hang': user.hang}" ng-click="toggleHang()" name="hangButton" id="hangButton">
				Hang
			</md-button>
			<div ng-include="'app/home/menu.html'"></div>
		</md-toolbar>
	</md-content>
</div>

<!-- Content -->
<div style="margin-top: 50px" class="home" ng-cloak layout="column" layout-align="center center">
	<div flex-gt-sm="50" flex>
		<md-content flex layout-align="center center" class="md-padding">

			<md-toolbar layout="row" class="md-hue-4">
				<div class="md-toolbar-tools">
					<span style="text-align: center">PROFILE VIEW</span>
				</div>
				<!-- obtain AI anaysis from external API -->
				<form ng-submit="twitterAnalyse()">
				  <input type="text" ng-model="searchRequestInput" placeholder="e.g., barackObama" class="search-field">
                  <input type="Submit" style="color: brown">
                </form>
			</md-toolbar>

			<div ng-if="spinner">
             <img ng-src="http://sample-env.zhtjbs6sdb.us-west-2.elasticbeanstalk.com/spiffygif_46x46.gif">
            </div>



			<div> <img src="{{userData.imageUrl}}"></div>
			<div> {{userData.handle}} </div>
			<div> {{userData.watsonResults}} </div>
			<h2> Analysis </h2>
			<div id=d3Display></div>

		</md-content>
	</div>
</div>
<pre>{{ user }}</pre>
