<div class= "homepage" ng-controller="HomeController" ng-cloak>
	<md-content class="navbar navbar-fixed-top">
		<md-toolbar layout-align="space-between" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" layout="row">
			<md-button ng-click="goHome()" name="homeButton">
				<img src="images/favicon.ico">
			</md-button>
			<md-button class="heading" ng-click="createEventClick($event)" name="createEvent">
				Create Event
			</md-button>
			<md-button class="heading" ng-class="{'hang': user.hang}" ng-click="toggleHang()" name="hangButton" id="hangButton">
				Hang
			</md-button>
			<div ng-include="'app/home/menu.html'"></div>
		</md-toolbar>
	</md-content>
</div>

<div class="home-container">
	<div class="card-container">
		<div class="outer-div" ng-click='openEvent(event)' ng-repeat='event in allEvents'>
				<div class= 'event-card'>
						 <img src="{{event.host.profile_url}} " class="card-image img-circle" alt='https://angular.io/resources/images/logos/angular2/angular.png'>
						 <div class="title text-center heading">{{event.description}}</div>
						 <div class= "venue">{{event.venue}}</div>
						 <div class= "when">{{event.when}}</div>
				</div>
			</div>
	</div>
	<div class=" user-container pull-right">
			<div class="user-content">
			<md-content flex class="md-padding user-table">
				<md-toolbar layout="row" class="md-hue-4">
					<div class="heading md-toolbar-tools">
						<span style="text-align: center">Users</span>
					</div>
				</md-toolbar>
				<md-list flex>
					<md-list-item layout="row" ng-repeat="item in users" ng-click="userEventAdd()" ng-class="{'userInvited': userIsGuest(this.item.email)}">
						<img ng-class="{'hang': item.hang}" ng-src={{item.profile_url}} class="md-avatar">
						<div class="md-list-item-text">
							<h3>{{item.email}}</h3>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</div>
	</div>
</div>
