<md-content class="md-padding">
	<md-toolbar layout-align="center" layout="row">
		<md-button>
			Hang
		</md-button>
	</md-toolbar>
	<div class="form">
		<div class="md-inline-form" ng-cloak layout="column">
			<md-content layout="column" class="md-padding">
				<div layout="column" layout-align="center center">
					<md-input-container>
						<label>Email</label>
						<input ng-model="user.email" ng-required="true">
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input ng-model="user.password" ng-required="true">
					</md-input-container>
					<md-button class="md-raised md-primary" ng-click="signin()">Sign In</md-button>
					<p>OR</p>
					<md-button class="md-raised md-primary" ng-click="signuplink()">Sign Up</md-button>
				</div>
			</md-content>
		</div>
	</div>
